<<<<<<< HEAD
/* Add your custom CSS here */
/*--Felipe Kaiser 77328-->*/
.section-selector-1 { background-color: var(--green-800) }
.section-selector-2 { background-color: var(--gray-200) }
.section-selector-4.theme-dark { background-color: var(--green-800) }
.section-selector-4 div[class^='flex-cols-'] div[class^='col-'] figure.icon { color: var(--white-000) }

.theme-dark.section-selector-1 a:link,
.theme-dark.section-selector-1 a:visited { color: var(--green-200) }

.theme-dark.section-selector-1 a:focus,
.theme-dark.section-selector-1 a:hover,
.theme-dark.section-selector-1 a:active { color: var(--white-000) }  
body {font-family: 'Playfair Display', serif}
              
header h1 { font-size: var(--font-size-xxxl) } 
=======
/* Add your custom CSS here */
/*--Felipe Kaiser 77328-->*/
.section-selector-1 { background-color: var(--green-800) }
.section-selector-2 { background-color: var(--gray-200) }
.section-selector-4.theme-dark { background-color: var(--green-800) }
.section-selector-4 div[class^='flex-cols-'] div[class^='col-'] figure.icon { color: var(--white-000) }

.theme-dark.section-selector-1 a:link,
.theme-dark.section-selector-1 a:visited { color: var(--green-200) }

.theme-dark.section-selector-1 a:focus,
.theme-dark.section-selector-1 a:hover,
.theme-dark.section-selector-1 a:active { color: var(--white-000) }  
body {font-family: 'Playfair Display', serif}
              
header h1 { font-size: var(--font-size-xxxl) } 
>>>>>>> b55576e69d09abbcc69857d3f8b44c75a965d2aa
