<<<<<<< HEAD
/* ============== Do not delete this ========== */
/*--Felipe Kaiser 77328-->*/
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }

=======
/* ============== Do not delete this ========== */
/*--Felipe Kaiser 77328-->*/
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }

>>>>>>> b55576e69d09abbcc69857d3f8b44c75a965d2aa
/* Add your custom CSS below */